<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      الوقاية من فيروس كورونا
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">الوقاية من فيروس كورونا</ion-title>
    </ion-toolbar>
  </ion-header>
  <h6>كون مسؤول و إحمي حياتك و حياة الي عزيز عليك</h6>
  <ion-grid>
    <ion-row no-padding>
      <ion-col size="4" *ngFor="let  conseil of tabConseil">
    <ion-card>
    <img class="image" src="../../assets/icon/conseils/{{conseil.image}}" />
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
